/*
    Created on : Aug 20, 2014, 7:57:04 AM
    Author     : Pisarik
*/

.themePane{
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-padding: 0;
}

.themePane > *.content {
    -fx-border-style: none;
}

.themePane > .title{
    -fx-background-color: #FFFAC6;
}

.cardSetPane{
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-padding: 0;
}

.cardSetPane > *.content {
    -fx-border-style: none;
}

.cardSetPane > .title{
    -fx-background-color: #F9FDC4;
}

.cardList {
    -fx-background-color: #EFF9CF;
    -fx-border-style: none;
    -fx-background-insets: 0;

    -fx-padding: 1 0 0 0;
}

.cardList > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: #E7F7BF;
    -fx-padding: 3 9 3 3;
    -fx-text-fill: black;
}

.cardList > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.cardLabel{
    -fx-text-fill: black;
}

.cardLabel:selected{
    -fx-font-weight: bold;
}

.addThemeButton{
    -fx-background-color: #FFFAC6;
    //-fx-background-color: #FFFFFF;
    -fx-background-radius: 0 0 50 50;
    //-fx-font-weight: bold;
}

.addThemeButton:hover{
    -fx-background-color: #FAF5C3;
    -fx-font-weight: bold;
}

.addCardSetButton{
    -fx-background-color: #F9FDC4;
    //-fx-background-color: #FFFFFF;
    -fx-background-radius: 0 0 50 50;
    //-fx-font-weight: bold;
}

.addCardSetButton:hover{
    -fx-background-color: #F4FBC1;
    -fx-font-weight: bold;
}

.addCardButton{
    //-fx-background-color: #FFFFFF;
    -fx-background-color: #E7F7BF;
    -fx-background-radius: 0 0 50 50;
    //-fx-font-weight: bold;
}

.addCardButton:hover{
    -fx-background-color: #E2F2BD;
    -fx-font-weight: bold;
}

.whiteScrollPane {
    -fx-background:  #FFFFFF;
    -fx-background-insets: 0;
    -fx-border-style: none;
    -fx-insets: 0;
    -fx-padding: 0;
    -fx-fit-to-width: true;
}