/*
    Created on : Aug 6, 2014, 9:59:22 PM
    Author     : Pisarik
*/

.headerUserLabel {
    -fx-border-style: none;
    -fx-background-color: #FFFFFF;
    -fx-font-family: bold "Segoe UI ", Helvetica, Arial, sans-serif;
    -fx-font-size: 18;
    -fx-text-alignment: center;
}

.headerAddUserButton {
    -fx-background-color: #999;
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0;
}

.headerAddUserButton:hover{
    -fx-background-color: #666;
}

.headerUserComboBox {
    -fx-background-color: #FFFFFF;
    -fx-border-style: solid;
    -fx-border-color: #999;
    -fx-font-family: bold "Segoe UI Light", Helvetica, Arial, sans-serif;
    -fx-font-size: 14;
    -fx-padding: 0;
}

.headerUserComboBox:hover{
    -fx-border-color: #666;
}

.welcomePane {
    -fx-background-color: #FFFFFF;
}

.userComboBox:hover {
    -fx-text-decoration: underline;
    -fx-text-decoration-color: activecaption;
}

.userComboBox > .arrow-button > .arrow,
.web-view .form-select-button .arrow {
    -fx-background-insets: 0 0 0 0, 0;
    -fx-background-color: #FFFFFF;
    -fx-padding: 0 0 0 0 ; /* 2 4 2 4 */
    -fx-shape: "";
}

.menuButtonBox{
    -fx-background-color: #FFFFFF;
    -fx-fill-width: true;
}

.menuButton{
    -fx-border-style: none;
    -fx-background-color: #FFFFFF;
    -fx-font-family: bold "Segoe UI ", Helvetica, Arial, sans-serif;
    -fx-font-size: 18;
    -fx-text-alignment: left;
}

.menuButton:hover{
    -fx-background-color: #FFFFFF;
    //-fx-scale-x: 1.5;
    //-fx-scale-y: 1.5;
}

.menuButton > .box{
    -fx-background-color: #FFbbFF;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}

/*.check-box:selected{
    -fx-background-color: #338b20;
}*/
